# Last match in file takes precedence.

.github/ @pheenty

# Game logic
*.Server/ @pheenty
*.Shared/ @pheenty

# UI
*.Client/ @LuciferEOS

# Resources/Prototypes/*

# Resources/Maps/*
# Resources/Prototypes/Maps/*

Resources/Textures/* @zagreastyas # le gooner
